@import '_my_mixins';

// general rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary_text_color;

  a {
    text-decoration: none;
    color: $primary_text_color;
  }

  h2 {
    @include h2MediumBold;
  }

  p {
    @include h2MediumBold;
    text-align: left;
  }

  img {
    width: 100%;
  }

  .container {
    @include generalContainer;
  }

  .context {
    @include myContext;
  }

  .col {
    width: calc(100% / 2);
  }

  .text-small {
    @include pSmall;
  }

}
