@import '_my_mixins';

// general rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ends general rules


// body general rules
body {
  color: $primary_text_color;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $primary_text_color;

    &:hover {
      color: $primary_btn_color;
    }

  }

  h1 {
    @include h1Title;
  }

  h2 {
    @include h2MediumBold;
  }

  p {
    @include h2MediumBold;
    text-align: left;
  }

  img {
    width: 100%;
  }

  .container {
    @include generalContainer;
  }

  .context {
    @include myContext;
  }

  .col {
    width: calc(100% / 2);
  }

  .text-small {
    @include pSmall;
  }

  .myButton {
    @include myButton;
  }

  .fa-google {
    @include myGoogleLogo;
  }

  .fa-slack-hash {
    @include myGoogleLogo;
    font-size: 20px;
  }

}
// ends body general rules
