// header
header {
  @include headerFixed;

  .container {
    margin-top: 0;
  }

  .content-header {
    @include headerContent;

    .logo{
      width: 15%;
      padding: 10px;
    }
    // navbar
    nav {
      ul li {
        display: inline-block;
        padding: $padding_ul_navbar;
        font-size: $header_li_size;
        font-weight: 600;
      }

      .myButton {
        @include myButton;
        background-color: #ffff;
        color: $primary_btn_color;

        &:hover {
          background-color: $primary_btn_color;
          color: #ffff;

        }
      }

      .fa-angle-down {
        @include myDropdownIcon;
      }

      .fa-google {
        @include myGoogleLogo;
      }
    }
    // ends navbar

  }

}
// ends header
