header {

  .container {
    margin-top: 0;
  }

  .content-header {
    @include headerContent;

    .img_logo{
      width: 160%;
    }

    nav {
      ul li {
        display: inline-block;
        padding: $padding_ul_navbar;
        font-size: $header_li_size;
        font-weight: 600;
      }

      .myButton {
        @include myButton;
      }

      .fa-angle-down {
        @include myDropdownIcon;
      }

      .fa-google {
        @include myGoogleLogo;
      }
    }

  }

}
