// jumbotron
.jumbotron {

  .myButton {
    width: 200px;
    height: 40px;

    &:hover {
      background-color: #ffff;
      color: $primary_btn_color;
    }
  }

  p.text-small {
    text-align: left;
  }

  .text-jumbo {
    padding-right: 35px;
  }

}
// ends jumbotron

// lower jumbo
.lower-jumbo {
  @include lower-jumbo;

  .img_lw_jumbo {
    width: 50%;
    padding: 20px;
  }

  .context {
    text-align: center;
    align-items: baseline;
  }

  .col {
    width: calc(100% / 3);
  }

  .image-center {
    width: 100%;
    padding: 50px 20px;
  }

  .btm_border {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .safe {
    width: 30%;
    padding: 15px;
  }

  .myButton {
    width: 200px;
    height: 40px;

    &:hover {
      background-color: #ffff;
      color: $primary_btn_color;
    }
  }

  h3 {
    font-size: 50px;
  }

  .box {
    @include myLetterBox;

    p {
      font-size: 20px;
    }

    img {
      width: inherit;
      text-align: left;
    }

    .reference-letter {
      display: flex;
      align-items: center;
    }
  }

}
// ends lower jumbo

// central content
.central-content {

  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    text-align: left;
  }

  .text-medium {
    @include h2MediumBold;
    text-align: left;
  }

  .mg_col {
    width: 20%;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

}
// ends cental content
