@mixin generalContainer {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1390px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@mixin headerContent {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  height: 70px;
}

@mixin myButton {
  background-color: #2d4792;
  border-radius: 5px;
  border: 0;
  color: white;
  width: 120px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
}

@mixin myGoogleLogo {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

@mixin myDropdownIcon {
  font-size: 25px;
  position: absolute;
  top: 30px;
  margin-left: 4px;
  cursor: pointer;
}

@mixin lower-jumbo {
  background-color: $primary_bg_color;
  padding: $padding_section;

}

@mixin h1Title {
  padding: $padding_text;
  font-size: $h1_text_size;
}

@mixin h2MediumBold {
  padding: $padding_text;
  font-size: $h2_text_medium;
  text-align: center;
}

@mixin pSmall {
  padding: $padding_text;
  font-size: $p_text_small;
  text-align: center;
}

 @mixin myContext {
   display: flex;
   padding: 0 20px;

 }
