// general color variables
$primary_text_color: #57402c;
$primary_bg_color: #fde7d1;
$primary_btn_color: #2d4792;

// general padding variables
$padding_section: 10px 0;
$padding_ul_navbar: 15px;
$padding_text: 20px 0;

// general font size variables
$header_li_size: 25px;
$h1_text_size: 50px;
$h2_text_medium: 28px;
$p_text_small: 15px;
